.Initial {
    
}
.initial-icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
.initial-icon-bar a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
    margin: 5px 50px;
}
  
.initial-icon-bar a:hover {
    background-color: #000;
}
  
.initial-active {
    background-color: #4CAF50;
}

.inline {
    display: inline-block;
}
 
.mr-5 {
    margin-right: 6px
}

.align-left {
    text-align: left !important;
}

.container-center {
    
}