.Illuminati {

    
    
}

.illiminati_side{
    float: right;
    width: 440px;
    
}

.IlluminatiImage{
    float: right;
    margin-top: 48px;
    margin-right: -345px;
}
.IlluminatInformation{
    margin-top: 20px;
    width: 750px;
    margin-left: 30px ;
    padding: 10px;
    border-width: 10px;
    background-color: rgba(38, 204, 124, 0.5);
    box-shadow: 2px 0 1.5rem rgba(48,55,66,.5),
                0 0 4px 0px rgba(48,55,66,.75);
}
