@import "crt";

.science {
    backface-visibility: hidden;

    & * {
      box-shadow: inherit;
      text-shadow: inherit;
    }

    &__sidebar {
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;

        @include rounded-corners();

        &-btn {
            width: 100%;
            align-content: center;
            z-index: 1;
            text-shadow: inherit;
        }
    }

    &__tabs{
        padding: 0.2rem;
    }
}

.scienceContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech-btn {
    width: 17.5rem;
    margin-bottom: .75rem;
    height: 3.2rem;
    margin-right: .75rem;
    text-shadow: inherit;
    perspective: 1000px;
    transition: all .1s ease;

    &:active{
      transform: scale(1.03);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    }
}

.Science__btn{
    text-shadow: inherit;
    transition: all .1s ease;
    &:hover{
      transform: scaleX(1.1);
      margin-left: .5rem;
      margin-right: .5rem;
    }
}

.TechText{
    display: flex;
    justify-content: space-between;
    & > * {
        margin: 0;
    }
}

.TechTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unTech{
    opacity: .6;
}

.science__search-bar{
    width: 20rem;
    text-shadow: inherit;

    margin-bottom: .75rem;

    &--component {
        width: 100%;
    }

    &::placeholder{
        text-shadow: inherit;
    }
}

.scienceHead{
    display: flex;
}

.scienceTabs{
    padding: .2rem;
}

.techlist{
    height: 20rem;
    width: 95%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;


    &::-webkit-scrollbar-track{
        border-color: black;
        border-style: solid;
        border-width: 4px;

        @include rounded-corners();
        padding: 1.5rem 1.5rem;
        margin: 1rem;
    }

    &::-webkit-scrollbar{
        width: 1.5rem;
        margin-left: 1rem;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb{
        @include rounded-corners();
        background-color: #333;
    }
}

.listcontent{
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45rem;
}

.industry {
    background-color: #3f3f3f;
    color: #fff;
    &::after {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        content: "";
        box-shadow: #333333 -4px -4px inset;
    }
}

.scienceInfo {

    width: 95%;
    margin: 0 auto 0;

    overflow-y: auto;
    max-height: 25rem;

    &::-webkit-scrollbar-track{

        @include rounded-corners();
        padding: 1.5rem 1.5rem;
        margin: 1rem;
    }

    &::-webkit-scrollbar{
        width: 1.5rem;
        margin-left: 1rem;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb{
        @include rounded-corners();
        background-color: #333;
    }
}


@keyframes turn-off{
  0%{
      transform:scale(1,1.3) translate3d(0,0,0);
      -webkit-filter:brightness(1);
      filter:brightness(1);
      opacity:1;
  }
  60%{
      transform:scale(1.3,0.001) translate3d(0,0,0);
      -webkit-filter:brightness(10);
      filter:brightness(10);
  }
  100%{
      animation-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform:scale(0.000,0.0001) translate3d(0,0,0);
      -webkit-filter:brightness(50);
      filter:brightness(50);
  }
}

.turnOff{
    animation: turn-off 0.55s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-fill-mode:forwards;
}