.science {

    &__sidebar {
        display: flex;
        flex-direction: column-reverse;

        &-btn {
            width: 100%;
            align-content: center;
        }
    }

    &__tabs{
        padding: 0.2rem;
    }

}

.scienceContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech-btn {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin-top: .75rem;
    height: 2.75rem;

    & > * {
        margin: auto 0;
    }
}

.science__search-bar{
    width: 20rem;

    &--component {
        width: 100%;
    }
}
