.culture {
  &_sidebar {
    display: flex;
    flex-direction: column-reverse;
  }
}
.culture-comprar {
  display: flex;
  justify-content: flex-end;
}

.Tabs-tab.is-selected > .culture {
  @extend .is-success;
}

.TabCulture {
  &:hover {
    transform: scaleX(1.1);
  }
}
.culture_sidebar-btn {
  &:hover {
    transform: scaleX(1.1);
   }
}
.nes-btn.culture.is-primary {
  &:hover {
    @extend .is-error;
  }
}
