.culture {
  &_sidebar {
    display: flex;
    flex-direction: column-reverse;
  }
}
.culture-comprar {
  display: flex;
  justify-content: flex-end;
}

.Tabs-tab.is-selected > .culture {
  @extend .is-success;
}

.TabCulture {
  &:hover {
    transform: scaleX(1.1);
  }
}
.culture_sidebar-btn {
  &:hover {
    transform: scaleX(1.1);
  }
}
.preço_culture {
  color: green;
}
.cultureImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
