// Variáveis globais
$color-dark: #272822;
$color-light: white;


// Papeis de cores
$color-text: black;
$color-bg: $color-light;


///////////////////////////////////////////////////////////////////////////////
// NÃO MODIFIQUE
//-----------------------------------------------------------------------------

// Configura Spectre.css


// Configura NES.css
