// FONTES
@font-face {
    font-family: 'Equipment Pro';
    src: url('../fonts/equipment-pro.woff') format('woff');
}
@font-face {
    font-family: 'Expression Pro';
    src: url('../fonts/expression-pro.woff') format('woff');
}
@font-face {
    font-family: 'Futile Pro';
    src: url('../fonts/futile-pro.woff') format('woff');
}
@font-face {
    font-family: 'Compass Pro';
    src: url('../fonts/compass-pro.woff') format('woff');
}
@font-face {
    font-family: 'Matchup Pro';
    src: url('../fonts/matchup-pro.woff') format('woff');
}
