$event-img-margin: 350px;

.Event2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    h1, h2, h3, h4 {
        font-family: Pixel;
        color: $primary-color;
        background: linear-gradient(to right, $code-color, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2:before {
        content: "# ";
        color: black;
        -webkit-text-fill-color: black;
        margin-left: -1rem;
    }
    h3:before {
        content: "# ";
        color: white;
        -webkit-text-fill-color: white;
        margin-left: -1rem;
    }
    h2 {
        font-size: 1.7rem;
        color: $code-color;
    }
    h3 {
        font-size: 1.1rem;
        color: $code-color;
    }
    h4 {
        font-size: 0.9rem;
    }
    &-overlay {
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }
    &-content {
        background: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25), 
                    2px 2px 32px -2px rgba(0, 0, 0, 0.25);
        border: 5px solid black;
        border-radius: 4px;
        color: black;
        height: 100vh;
        margin: 0;
        padding-left: $event-img-margin;
        position: relative;
        z-index: 1000;
    }
    &-description {
        //background: url('../img/bg/interlaced.png');
        background-clip: border-box;
        padding: 1.5rem;
        min-height: 25%;

        *:last-child {
            margin-bottom: 0;
        }
    }
    &-question {
        background: black;
        padding: 0.75rem 1.5rem;
        
        h3 {
            margin: 0;
        }
    }
    &-choiceList {
        @extend .columns;
    }
    &-choice {
        @extend .column, .col-6;
        padding: 0.75rem 1.5rem;
        transition: transform, box-shadow, border-radius 200ms;
        position: relative;

        &:hover {
            background: white;
            border-radius: 5px;
            box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.15),
                        0 0 3px 2px rgba(0, 0, 0, 0.25);
            transform: scale(1.02);
            z-index: 1001;
        }
        &:not(:last-child):not(:hover):after {
            background: #eee;
            content: "";
            position: absolute;
            right: 0;
            top: 40px;
            width: 4px;
            height: 30vh;
        }
    }
}