.Game {
  padding: 0;
  margin: 0;
  background: url(../img/events/thumbnail_784789.jpg) bottom center no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  padding: 100px 0;
  
  h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
    color: brown;
  }
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(../img/events/terra.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url(../img/events/rrr.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}
