.Graphics {
    .Tabs-tab{
        background: none;
    }
    .Tab-head{
        background: none;
        text-align: center;
        display: flex;
        margin: 1rem;
    }
    .buttons{
    text-align: center;
    };
    .back-Button{
        float: right;
        padding: 1.5rem 1.5rem;
    }

}
#GraphicsWindow{
        background: black;
        background-position: center center;
        background-size: 100%;
        transition-delay: 1s;

}
