/*Gráficos de população*/

.Polulation {

     .overlay {
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.6);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(49, 48, 48, 0.6);
          float: center;
          position: relative;
     }

     .Tela {
          margin-top: 1rem;
          padding: 5px;
          text-align: center;
          color: white;
          .Title {
            color: red;
          }
     }
}

#PopulationWindow {
     background: black;
     background-size: cover;
}

@media screen and (min-width: 1285px) {
     .Population {
       .Tabs-tab {
         padding: 0.5%;
       }
       .Tab-head {
         margin-top: 0.65%;
         margin-left: 1.5%;
         margin-right: 0;
         margin-bottom: 0.65%;
       }
       .Tabs-Content {
         margin-left: 1.5%;
         margin-right: 1.5%;
       }
       .buttons {
         margin-right: 0;
         margin-left: 0;
         padding: 1%;
         padding-bottom: 0;
       }
       .back-Button {
         margin-top: 1%;
         margin-right: 1%;
         margin-left: 0;
         .show {
           margin-top: 0;
         }
       }
       .nes-btn {
         margin: 0.4rem;
         font-size: 0.6rem;
         min-width: 8.5rem;
       }
       .overlay {
         border-radius: 2rem;
         margin-right: 3%;
         margin-left: 3%;
         padding: 1%;
         margin-top: 1.5%;
         padding-bottom: 1.5%;
       }
       .chart-container {
         height: 30rem;
       }
     }
}

@media screen and (max-width: 1285px) {
     .Population {
       .Tabs-tab {
         padding: 0.5%;
       }
       .Tab-head {
         margin-top: 0.65%;
         margin-left: 1.5%;
         margin-right: 0;
         margin-bottom: 0.65%;
       }
       .Tabs-Content {
         margin-left: 1.5%;
         margin-right: 1.5%;
       }
       .buttons {
         margin-right: 0;
         margin-left: 0;
         padding: 1%;
         padding-bottom: 0;
       }
       .back-Button {
         margin-top: 1%;
         margin-right: 1%;
         margin-left: 0;
         .show {
           margin-top: 0;
         }
       }
       .nes-btn {
         margin: 0.3rem;
         font-size: 0.5rem;
         min-width: 8rem;
       }
       .overlay {
         border-radius: 2rem;
         margin-right: 2%;
         margin-left: 2%;
         padding: 0.5%;
         margin-top: 0.5%;
         padding-bottom: 1%;
       }
       .chart-container {
         height: 22rem;
       }
     }
}
   